<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsk.todo.mapper.RecordsMapper">

    <select id="getListByUserId" resultType="com.tsk.todo.pojo.RecordsPojo">
        select * from budgets where user_id = #{loginUserId}
    </select>
</mapper>

